@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary: rgba(254, 44, 85, 1);
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --font-family: 'ProximaNova', sans-serif;
    --back: #000;
    --white: #fff;
    --text-color: #333;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    // font-family: 'Montserrat', sans-serif;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
}

// sroll bar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
    // background-color: rgba(28, 179, 221, 0.803);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
    // background-color: rgba(46, 223, 176, 0.803);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// font emmet
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}
// @font-face {
//     font-family: SofiaPro;
//     // src: url('/assets/fonts/sofiapro-semibold.otf');
//     font-weight: 700;
// }

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// custom tippy tolltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        color: rgb(255, 255, 255);
        border-radius: 8px;
        font-size: 1.6rem;
        line-height: 22px;
        font-weight: 600;
    }
    .tippy-content {
        padding: 8px 9px;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
